<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoolBlue3DExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9D3D0FCF20C249D900E7CFF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D3D0FE520C249DA00E7CFF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D3D0FF020C249DA00E7CFF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
